
@{
    ViewBag.Title = "Index";
}

<div class="InnerContent">
    <h2>Contact Us</h2>

    <div>
        <p>
            Thank you for your feedback.  A member of our team will not reply since there is no team or member that has this task
            delegated to them.
        </p>
        <p>
            @Html.ActionLink("Back to Home", "Index", "Items")
        </p>
    </div>
</div>