
@{
    ViewBag.Title = "Subscribe";
}

<div class="InnerContent">
    <h2>Subscribe</h2>
    <h4>You have successfully subscribed to our newsletter!</h4>
    <p>
        Don't forget to add watches@email.com to your inbox to prevent our newsletters from being sent to your spam folder.
        We don't want you to miss out on important company information, sales, and new releases!  Don't worry, we won't clutter
        your inbox with tons of emails per day.  No emails will be sent since this is a fictional company.
    </p>
</div>