@{
    ViewBag.Title = "About Us";
}

<div class="InnerContent">
    <h2>@ViewBag.Title.</h2>

    <p>Watches R Us is a fictional for-profit company created in the imagination of
    Coder Foundry staff and students.  What you see is the product of hard work and 
    an exponential learning curve thanks to the total immersion program offered at 
    Coder Foundry.</p>
</div>