@{
    ViewBag.Title = "Contact Us";
}

<div class="InnerContent">
    <h2>@ViewBag.Title.</h2>

    <address>
        Watches R Us<br />
        (via Coder Foundry)<br/>
        1231 Shields Rd #5<br/>
        Kernersville, NC 27284<br />
        <abbr title="Phone">P:</abbr>
        555.555.5555
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>