
@{
    ViewBag.Title = "Collection18";
}

<div class="InnerContent">
    <h2>2018 Collection</h2>

    <div>
        <h3><b>COMING SOON!!!</b></h3>
        <h4>Please check back soon or subscribe for updates!</h4>
        <p>
            Browse watches from our newest collections!  The new year is just a few short months away.  Make a resolution to enjoy the present
            time and look forward to what the future holds with our 2018 collection!
        </p>
    </div>
</div>

