
@{
    ViewBag.Title = "DaySeries";
}

<div class="InnerContent">
    <h2>Day Series</h2>

    <div>
        <h3><b>COMING SOON!!!</b></h3>
        <h4>Please check back soon or subscribe for updates!</h4>
        <p>
            Browse watches from our newest collections!  Our Day Series watches are some of the most cutting-edge and stylish watches out there!
            You're going to want to wear these watches longer than just during the day!
        </p>
    </div>
</div>