@model int ?

<span class="fa-stack fa-lg" id="CartItemCounter">
    <i class="fa fa-circle fa-stack-1x"></i>
    <strong class="fa-stack-1x fa-inverse" style="margin-top:8px; color:black;">@Model</strong>
</span>
